<!DOCTYPE html>
<html>
  <head>
    <title>Home | Eli Esrig's Course Catalog</title>
  </head>
  <body>
    <h1>Eli's Course Catalog</h1>
    <p>
      Welcome to my home page!
    </p>
  </body>
</html>