<% provide(:title, "Search Results") %>
<div class="row">
  <aside class="col-md-4">
    <h1>
        Results
    </h1>
    <section class="search_results">
      <h3>
        <%= parse_results @search %>
      </h3>
    </section>
  </aside>
</div>