<footer class="footer">
  <small>
    The Course Catalog
    by <a href="elazare@brandeis.edu">Eli Esrig</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://scp-wiki.net">Cool Site</a></li>
    </ul>
  </nav>
</footer>

